<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logFileName" value="paymentgateway.log" />
  
  <targets>

    <target name="FileAsync" xsi:type="AsyncWrapper">
      <target xsi:type="FILE" fileName="${logFileName}">
		  <layout xsi:type="JsonLayout" includeAllProperties="true">
			  <attribute name="@timestamp" layout="${date:format=O}" />
			  <attribute name="level" layout="${level:upperCase=true}"/>
			  <attribute name="logger" layout="${logger}" />
			  <attribute name="processName" layout="${gdc:item=ProcessName}" />
			  <attribute name="message" layout="${message}.${exception:format=tostring}" />
		  </layout>
      </target>
    </target>

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="FileAsync" />
  </rules>
</nlog>